.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* Color slider  */

.c-1-color {
    background: red;
}
.c-2-color {
    background: yellow;
}
.c-3-color {
    background: green;
}
.c-4-color {
    background: blue;
}
.c-5-color {
    background: purple;
}

.bg-none {
    background: none;
}

.calendar {
    background: url(../../icon/cal2.svg) 50% 50% no-repeat !important;
}

.telephone-messid {
    background: url(../../icon/telephone-missed-call.png) 50% 50% no-repeat;
}

.life-buoy {
    cursor: pointer;
}

.coin {
    background: url(../../icon/coin.png) 50% 50% no-repeat;
}

.autoFaq {
    background: url(../../icon/autofaq.png) 50% 50% no-repeat;
}

.time-table {
    background: url(../../icon/time-table.png) 50% 50% no-repeat;
}

.slack-icon {
    background: url(../../icon/slack.png) 50% 50% no-repeat;
}

.eyes {
    cursor: pointer;
    width: 1.5rem;
    height: 1.4rem;
}

.custom-icon {
    cursor: pointer;
    background-size: contain;
    width: 21px;
    height: 23px;
    top: -17px;
    box-shadow: none;
    /* border: medium; */
    right: -11px;
}

.main-window {
    height: 83px;
    width: 81px;
    font-size: 14px;
    z-index: 99999;
}

.z-index-cs {
    z-index: 999999;
}

.z-index-test {
    z-index: 9000;
}

.ui-widget.ui-widget-content {
    z-index: 2001 !important;
}

.text-light > span::selection {
    background: #0b4a98 !important;
}

.btn-close {
    filter: invert(1);
}

.slick-prev::before,
.slick-next::before {
    content: none !important;
}

.slick-prev:hover,
.slick-next:hover {
    background: none !important;
}

.slick-prev-cust {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    cursor: pointer;
}

.slick-next-cust {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    cursor: pointer;
}

a {
    text-decoration: none !important;
}
