.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* Color slider  */

.c-1-color {
    background: red;
}
.c-2-color {
    background: yellow;
}
.c-3-color {
    background: green;
}
.c-4-color {
    background: blue;
}
.c-5-color {
    background: purple;
}

.bg-none {
    background: none;
}

.calendar {
    background: url(../src/icon/cal2.svg) 50% 50% no-repeat;
}

.telephone-messid {
    background: url(../src/icon/telephone-missed-call.png) 50% 50% no-repeat;
}

.coin {
    background: url(../src/icon/coin.png) 50% 50% no-repeat;
}

.custom-icon {
    background-size: contain;
    width: 35px;
    height: 25px;  
    top: -17px;
    box-shadow: none; 
    /* border: medium; */
    right: -11px;
}

.main-window {
    height: 83px;
    width: 81px;
    /* background: wheat; */
    top: 181px;
    left: 84px;
    font-size: 14px;
    z-index: 20;
    /* position: fixed; */
    border: 1px solid rgb(56, 56, 56);
}